@use "sass:math";

@font-face {
  font-family: "Trebuchet";
  src: url("./fonts/trebuchet-ms.woff");
}

$grey: #595959;
$small-screen: 1000px;

.start-outer {
	background-color: white;
	z-index: 110;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

  .outer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70vw;
    height: 60vh;
    border: 12px solid $grey;
    border-radius: 60px;

		background-color: white;

		z-index: inherit;

    .form {
      width: inherit;
      height: inherit;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      $border: 3px solid black;

      .name,
      .start {
        border: none;
        outline: none;
        padding: 0;

        background-color: #cccccc;

        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);

        border-top: $border;
        border-bottom: $border;
      }

      .name:hover,
      .start:hover,
      .name:focus,
      .name:active,
      .name:focus-visible {
        background-color: #eeeeee;
        background-color: #aaaaaa;
      }

      .name {
        width: 350px;
        padding-left: 8px;
        height: 30px;

        border-left: $border;
        border-right: $border;
        border-radius: 10px 0 0 10px;
      }

      .start {
        width: 100px;
        height: 36px; // for some reason border is included in height in buttons but not in inputs
        border-right: $border;
        border-radius: 0 10px 10px 0;

        cursor: pointer;
      }
    }

    .sockey {
      margin-top: 50px;
      $triangle-size: 100px;

      display: flex;
      justify-content: center;
      .left,
      .right {
        background-color: transparent;

        display: flex;
        justify-content: center;
        align-items: center;

        .triangle-tl,
        .triangle-br {
          width: 0;
          height: 0;
          border: $triangle-size solid transparent;
          border-bottom-width: 0;
          border-left-width: 0;
        }

        .triangle-tl {
          border-right-color: inherit;
        }

        .triangle-br {
          border-top-color: inherit;
        }

        .rect {
          color: white;
          font-size: 60px;
          text-transform: uppercase;
          font-family: "Trebuchet", "Arial";
          letter-spacing: 0.1em;
          user-select: none;

          display: flex;
          justify-content: center;
          align-items: center;

          width: $triangle-size * 2;
          height: $triangle-size;
        }
      }

      .left {
        border-color: blue;

        transform: translate(math.div($triangle-size, 4) * 3, math.div(-$triangle-size, 4));

        .rect {
          background-color: blue;
        }
      }

      .right {
        border-color: red;

        transform: translate(math.div(-$triangle-size, 4) * 3, math.div($triangle-size, 4));

        .rect {
          background-color: red;
        }
      }
			
    }

		@media screen and (max-width: $small-screen) {
			.sockey {
				transform: scale(.5) translateY(-75%);
			}
		}

    .btns {
      position: absolute;
      bottom: 20px;
      left: 50%;

      transform: translate(-50%, 0);
      width: 100%;
      height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      .btn {
        cursor: pointer;
        padding: 8px;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        .svg-inline--fa {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }

      .btn:hover {
        background-color: #eeeeee;
      }

      .spacer {
        width: 3px;
        height: 20px;
        margin: 0 5px;

        background-color: black;
      }
    }

    .players {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

		@media screen and (max-width: $small-screen) {
			.players {
				transform: translate(-50%, -50%) scale(.75) translateY(50%);
			}
		}
  }

  $modal-animation-length: 0.3s;
  .modal-outer {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgb(0 0 0 / 0.25);
    backdrop-filter: blur(7px);

    animation: show $modal-animation-length ease-in forwards;

    display: flex;
    justify-content: center;
    align-items: center;

		z-index: inherit;

    .modal {
      width: 50vw;
      height: 70vh;
      border-radius: 30px;
      background-color: white;

      animation: show-modal $modal-animation-length ease-in forwards;

      position: relative;

      .top {
        padding: 15px 20px 15px 20px;

        display: flex;
        align-items: center;

        border-bottom: 1px solid grey;

        font-family: "Trebuchet", "Arial";

        .text {
          font-size: 30px;
        }

        .close {
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: #eeeeee;

          margin-left: auto;
          width: 40px;
          height: 40px;
          border-radius: 9999px;

          cursor: pointer;
        }

        .close:hover {
          background-color: #cccccc;
        }
      }

      .main {
        padding: 20px;

        font-family: "Trebuchet";
      }

      @keyframes show-modal {
        from {
          transform: scale(0);
        }

        to {
          transform: scale(1);
        }
      }
    }

    @keyframes show {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  .modal-outer.hide {
    animation: hide $modal-animation-length ease-in forwards;

    .modal {
      animation: hide-modal $modal-animation-length ease-in forwards;

      @keyframes hide-modal {
        from {
          transform: scale(1);
        }

        to {
          transform: scale(0);
        }
      }
    }

    @keyframes hide {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
  }
}