.waiting {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 50px;

	.dots {
		position: relative;
	}

	.dots::after {
		position: absolute;
		animation: dotdotdot linear .5s infinite;
		content: '.';
	}

	#waiting {
		font-weight: bold;
	}

	@keyframes dotdotdot {
		0% {
			content: '.';
		}

		33% {
			content: '..';
		}

		66% {
			content: '...';
		}
	}
}


#game {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

#game.active {
	display: flex;
}