@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Space+Mono:wght@700&display=swap");

.waiting {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  z-index: 101;

  .dots {
    position: relative;
  }

  .dots::after {
    position: absolute;
    animation: dotdotdot linear 0.5s infinite;
    content: ".";
  }

  #waiting {
    font-weight: bold;
  }

  @keyframes dotdotdot {
    0% {
      content: ".";
    }

    33% {
      content: "..";
    }

    66% {
      content: "...";
    }
  }

	.outer {
		$size: 400px;
		width: $size;
		height: $size;
		display: flex;
		justify-content: center;
		align-items: center;


		.inner {
			display: flex;
			animation: rotate 6s linear infinite;
			.loading {
				height: 20px;
				display: inline-block;
			}

			.spacer {
				width: $size - 40px;
				height: 30px;
				animation: bounce 1.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;

				@keyframes bounce {
					0%, 100% {
						width: $size - 40px;
					}

					50% {
						width: 0;
					}
				}
			}

			@keyframes rotate {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}

#game {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  canvas {
    border: 3px solid black;
  }
}

#game.active {
  display: flex;
}

.points {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa";
  color: white;
  user-select: none;

  .left {
    background: blue;
    padding: 6px 10px;
    border-radius: 10px 0 0 10px;
  }

  .right {
    background: red;
    padding: 6px 10px;
    border-radius: 0 10px 10px 0;
  }

  .timer {
    background-color: grey;
    padding: 0px 10px;
    font-family: "Space Mono", monospace;
  }
}

.countdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  font-family: "Comfortaa";

  animation: countdown-scale 3s linear forwards;
}

.countdown::after {
  content: "3";

  animation: countdown 3s linear forwards;
}

@keyframes countdown {
  0% {
    content: "3";
    opacity: 1;
  }

  33.2% {
    content: "3";
    opacity: 0;
  }

  33.3% {
    content: "2";
    opacity: 1;
  }

  66.5% {
    content: "2";
    opacity: 0;
  }

  66.6% {
    content: "1";
    opacity: 1;
  }

  99.9% {
    content: "1";
    opacity: 1;
  }

  100% {
    content: "0";
    opacity: 0;
  }
}

@keyframes countdown-scale {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  33.2% {
    transform: translate(-50%, -50%) scale(2);
  }

  33.3% {
    transform: translate(-50%, -50%) scale(0);
  }

  66.5% {
    transform: translate(-50%, -50%) scale(2);
  }

  66.6% {
    transform: translate(-50%, -50%) scale(0);
  }

  99.9% {
    transform: translate(-50%, -50%) scale(2);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

$triangle-size: 100px;

#smash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: .5);
  z-index: 100;
	user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  .left,
  .right {
    // background: rgba($color: #000000, $alpha: .1);
    width: calc(50vw + $triangle-size);
    height: 100px;

    display: flex;

    .rect {
      height: inherit;
      flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
      // background-color: rgba($color: #000000, $alpha: 0.1);

			.player {
				height: inherit;
				flex: 1;
				// background-color: black;
				color: white;
				
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.img {

				} 
				.name {
					font-size: 10px;
					text-overflow: ellipsis;
					width: inherit;
				}
			}
    }

    .triangle {
      width: 0;
      height: 0;
      border-bottom: $triangle-size solid rgba($color: #000000, $alpha: 0);
      border-right: $triangle-size solid rgba($color: #000000, $alpha: 0);
    }
  }

  .left {
    // border: 3px solid black;
    border-color: #6666FF;
		transform: translateX(math.div($triangle-size, 2));
	

		.rect {
			background-color: #6666FF;
		}

		.triangle {
			border-bottom-color: #6666FF;
		}
		
	}
  .right {
    // border: 3px solid black;
    border-color: #FF6666;
		transform: translateX(math.div(-$triangle-size, 2));

		.rect {
			background-color: #FF6666;
		}

		.triangle {
			border-right-color: #FF6666;
		}
  }
}

#smash.smash {
	.left {
		animation: smash-left .4s ease-in forwards;
		
		@keyframes smash-left {
			from {
				transform: translateX(-75vw);
			}

			to {
				transform: translateX(math.div($triangle-size, 2));
			}
		}
	}

	.right {
		animation: smash-right .4s ease-in forwards;
		
		@keyframes smash-right {
			from {
				transform: translateX(75vw);
			}

			to {
				transform: translateX(math.div(-$triangle-size, 2));
			}
		}
	}
}

#smash.hide {
	animation: hide .5s ease-in forwards;

	@keyframes hide {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}

		99.9% {
			display: flex;
		}

		100% {
			display: none;
		}
	}
}

#smash.show {
	animation: show .5s ease-in forwards;

	@keyframes show {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}

		0% {
			display: none;
		}

		.1% {
			display: flex;
		}
	}
}

#smash.hidden {
	display: none;
}